{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/cssselector.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cloudy/public/css/cssselector.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}CssSelector{% endblock %}

{% block body %}
    <header>
        <h1>Hi Everyone! Here's the one famous CssSelector! </h1>
    </header>
    <article>
        <p>
            <div class="productblock">
            {% for product in products %}
                <div class="product">
                    <div class="ptitle"><p>  {{ product.title }}  </p></div>
                    <p>
                    <div class="product_discount">  {{ product.discount }}  </div>
                    <div class="product_price">  {{ product.current_price }}  </div>
                    </p>
                    <p id="oldprice"> Stara cena: <div class="product_old_price">{{ product.old_price }} </div> </p>
                </div>
            {% endfor %}
        </div>
		</p>
    </article>
{% endblock %}