{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/dom.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cloudy/public/css/products.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Dom XML{% endblock %}

{% block body %}
    <header>
        <h1>Yo, yo, I'm analyzing your dom xml</h1>
    </header>
    <article>
        <p>
        <div class="productblock">
        {% for product in products %}
            <div class="product">
                <div class="ptitle"><p>  {{ product.title }}  </p></div>
                <p>
                <div class="product_discount">  {{ product.discount }}  </div>
                <div class="product_price">  {{ product.current_price }}  </div>
                </p>
                <p id="oldprice"> Stara cena: <div class="product_old_price">{{ product.old_price }} </div> </p>
            </div>
        {% endfor %}
        </div>
		</p>
        <p>
        <div class="productblock">
        {% for product in products2 %}
            <div class="product2">
                <div class="ptitle2"><p>  {{ product.title }}  </p></div>
                <p>
                <div class="product_discount2">  {{ product.discount }}  </div>
                <div class="product_price2">  {{ product.current_price }}  </div>
                </p>
                <p id="oldprice2"> Stara cena: <div class="product_old_price2">{{ product.old_price }} </div> </p>
            </div>
        {% endfor %}
        </div>
		</p>
    </article>
{% endblock %}